## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [8]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [50]:
# Your code here

sample_list_1 = set(random.sample(range(100),80))

print(sample_list_1)

{0, 1, 3, 4, 5, 6, 7, 8, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 62, 64, 65, 68, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 97, 99}

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [51]:
# Your code here

set1 = set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [52]:
# Your code here

sample_list_2 = set([random.randint(0,100) for i in range(80)])

print(sample_list_2)

{0, 1, 2, 3, 5, 6, 7, 8, 11, 13, 17, 21, 24, 25, 26, 27, 30, 32, 33, 35, 36, 38, 39, 40, 41, 43, 44, 47, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 67, 69, 70, 75, 83, 84, 85, 92, 93, 95, 96, 98, 99, 100}

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [53]:
# Your code here

set2 = set(sample_list_2)

print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [54]:
# Your code here

set3 = set([i for i in set1 if i not in set2])

print(set3)

{4, 12, 15, 16, 18, 19, 20, 22, 29, 31, 34, 37, 42, 45, 46, 54, 60, 64, 68, 71, 72, 73, 74, 77, 78, 79, 80, 81, 82, 86, 87, 88, 89, 90, 91, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [55]:
# Your code here

set4 = set([i for i in set2 if i not in set1])

print(set4)

{33, 2, 66, 67, 69, 70, 98, 100, 47, 93, 58, 61, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [56]:
# Your code here

set5 = set([i for i in set1 if i in set2])

print(set5)

{0, 1, 3, 5, 6, 7, 8, 11, 13, 17, 21, 24, 25, 26, 27, 30, 32, 35, 36, 38, 39, 40, 41, 43, 44, 48, 49, 50, 52, 53, 55, 56, 57, 59, 62, 65, 75, 83, 84, 85, 92, 95, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [57]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print(len(set1) + len(set2) == len(set3) + len(set4) + (2*(len(set5))))

80
57
36
13
44
True

#### Create an empty set called `set6`.

In [58]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [59]:
# Your code here

set6.update (set3,set5)

print(set6)

{0, 1, 3, 4, 5, 6, 7, 8, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 62, 64, 65, 68, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [65]:
# Your code here

print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [64]:
# Your code here

print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here